.place__paragraphs{
    margin: 0;
    padding: 0;
    align-self: start;
    width: 100%;
}
@media screen and (max-width: 340px) {
    .place__paragraphs{
        width: calc(100% - 16px);
        padding: 0 0 0 16px;      
    }
}
